
<div class="row">
<div>
    
    <h1> Experiencia Laboral</h1>
    
</div>
<div>
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo ipsum mollitia minima magnam? Sed laudantium amet esse, quam adipisci error quisquam reiciendis rem iure doloribus labore nisi, incidunt necessitatibus!
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo ipsum mollitia minima magnam? Sed laudantium amet esse, quam adipisci error quisquam reiciendis rem iure doloribus labore nisi, incidunt necessitatibus!
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo ipsum mollitia minima magnam? Sed laudantium amet esse, quam adipisci error quisquam reiciendis rem iure doloribus labore nisi, incidunt necessitatibus!
        </p>
    </ul>
</div>

</div>