<div class="row" id="habi">
  <h1 class="text-info">Habilidades duras y blandas</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="30"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'Blue'"
    [innerStrokeColor]="'pink'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
    </div>
  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="30"
      [innerStrokeWidth]="100"
      [outerStrokeColor]="'Blue'"
      [innerStrokeColor]="'yellow'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
      </div>

      <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/git.webp'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="30"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'Blue'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="95"
          [radius]="100"
          [imageSrc]="'../assets/intercambio.png'"
          [showImage]="true"
          [imageHeight]="90"
          [imageWidth]="90"
          [outerStrokeWidth]="30"
          [innerStrokeWidth]="100"
          [outerStrokeColor]="'Blue'"
          [innerStrokeColor]="'green'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
          </div>

          <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/escuchar.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="30"
            [innerStrokeWidth]="100"
            [outerStrokeColor]="'Blue'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
              <circle-progress
              [percent]="80"
              [radius]="100"
              [imageSrc]="'../assets/grupo2.png'"
              [showImage]="true"
              [imageHeight]="90"
              [imageWidth]="90"
              [outerStrokeWidth]="30"
              [innerStrokeWidth]="100"
              [outerStrokeColor]="'Blue'"
              [innerStrokeColor]="'violet'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
              </div>