<div class="row" id="proyectos">
<h1 class="text-info"><u>Proyectos Realizados</u></h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 p1">
        <h2>Mi Portfolio</h2>
        <p>Este proyecto es el primero que realizo, fue muy complicado llegar a esta instancia pero con mucha paciencia y dedicacion, lo pude llevar a cabo.
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
        <a href="https://frontendjeg.web.app" target="_blank"><img src="../../../assets/proyecto.png" class="img-fluid img-proyecto"></a>
        </div>
</div>
</div>  