<div class="row" id="acerca">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yoyo.png" id="fotodeperfil"
            class="img-fluid">
        </div>
    
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nm" >
                <h4><p id="nombre">{{persona.nombre}} {{persona.apellido}}</p></h4>
                <h4><p>Programador Full Stack Developer Jr</p></h4>
            </div>
        
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="text-info"><u>Acerca de</u></h1>
             <h3>Hola, Soy jonathan Gonzalez <br>
             Naci en Buenos aires, Argentina. vivo en Quilmes con mi esposa y mi hija.<br>
             Actualmente Trabajo en la Fuerza Aerea Argentina en el Area de Contabilidad<br>
             Estoy Entrando al mundo de la programacion <br>
             Espero poder seguir aprendiendo dia a dia un poco mas</h3>
    </span>
    </div>

</div>