.row{
    padding: 100px;
    color: azure;

}
div{
    background-color: black;
    text-align: center;
    
}


/*estilo de la foto de perfil*/



@media (min-width: 1301px){
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 5%;
        top: 650px;
        
    }
 

}



@media (max-width:1300px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 300px;
        left: 5%;
    }
}

@media (max-width:800px){
    #fotodeperfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 350px;
        left: 5%;
    }
}

@media (max-width:400px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 170px;
        left: 5%;
    }
}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    
}
