<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yoyo.png" id="fotodeperfil"
            class="img-fluid">
        </div>
    
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
                <p>Programador Full Stack Jr</p>
            </div>
        
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca">
        <span>
            <h1>Acerca de mi</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sed a laboriosam voluptates repudiandae corporis eum fugit suscipit deleniti, nesciunt nulla error voluptatem adipisci quia aut dicta architecto vel debitis.</p>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda repellat nostrum sint a expedita officiis praesentium obcaecati odio, sunt itaque vero maxime accusamus quisquam quae earum nam distinctio ea alias!</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas soluta illo pariatur iste? Sapiente quis unde debitis tempora, ad harum impedit sed fugit consequatur at dignissimos totam soluta, quasi accusantium?</p>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique explicabo quibusdam iure aspernatur est animi sunt doloremque sapiente rem, exercitationem, ut vitae delectus dolores aliquid eaque recusandae. Vel, non a!</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quae doloribus itaque placeat necessitatibus esse amet quibusdam tenetur totam ipsam earum quia, non ab? Amet sed perferendis ex dolore cumque.</p>
    </span>
    </div>

</div>