<div class="row" id="acerca">
   
        <button type="button" class="btn btn-info" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} id="fotodeperfil"
            class="img-fluid">
        </div>
    
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nm" >
                <h4><p id="nombre">{{persona.nombre}} {{persona.apellido}}</p></h4>
                <h4><p>Programador Full Stack Developer Jr</p></h4>
            </div>
        
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="text-info"><u>Acerca de</u></h1>
             <h3>{{persona.descripcion}}</h3>
    </span>
    </div>

</div>