<section class="vh-100 gradient-custom" *ngIf="persona">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Editar persona</h2>
                <p class="text-white-50 mb-5"></p>
                
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-outline form-white mb-4">
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                  <label class="form-label" for="nombre">Nombre</label>
                </div>
           

            
                <div class="form-outline form-white mb-4">
                  <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                  <label class="form-label" for="apellido">Apellido</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="a" name="descripcion" [(ngModel)]="persona.descripcion" required>
                    <label class="form-label" for="descripcion">Descripcion de la Persona</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)"
                    accept=".jpg, .jpeg, .png">
                    <label class="form-label" for="img">Imagen</label>
                  </div>
                  
                  <div class="imagen">
                    <img [src]="imageService.url" width="200px">
                  </div>

                  <br>
  
                <button class="btn btn-outline-light btn-lg px-5">Modificar Persona</button>
            </form>


              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
