<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yoyo.png" id="fotodeperfil"
            class="img-fluid">
        </div>
    
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <p>Gonzalez jonathan</p>
                <p>Programador Full Stack Jr</p>
            </div>
        
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sed a laboriosam voluptates repudiandae corporis eum fugit suscipit deleniti, nesciunt nulla error voluptatem adipisci quia aut dicta architecto vel debitis.</p>
    </span>
    </div>

</div>