
    <div>
        <div class="foto-mia">
            <img src="../../../assets/yoyo.png">
        </div>
        <div class="nombre-mio">
            <p>Gonzalez Jonathan Ezequiel</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="descrip-mia">
            <span>
                <h1>Acerca de Mi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolores consequuntur maxime et est, assumenda necessitatibus repellat voluptate eius minima dolorem recusandae quos accusantium deserunt cumque doloremque adipisci explicabo!</p>
            </span>
        </div>
    </div>
