<div class="row">
    <div class="container logo-nav-redes">
        
            <a href="https://argentinaprograma.inti.gob.ar/" class="logo" target="_blank"><img src="../../../assets/APLogo.png" id="logoAp"></a>
            <nav class="navigation">
                <ul>
                    <li><a href="#acerca">Acerca de</a></li>
                    <li><a href="#experiencialab">Exp. Laboral</a></li>
                    <li><a href="#educacion">Educacion</a></li>
                    <li><a href="#habi">Habilidades</a></li>
                    <li><a href="#proyectos">Proyectos</a></li>
                </ul>
            </nav>
            


            <div class="redesboton">
                <ul>
                    <li><a href="https://www.facebook.com/jonathan.gonzalez.77964" target="_blank"><img src="../../../assets/face3.png" id="facebook"></a></li>
                     <li><a href="https://github.com/jonathan12286" target="_blank"><img src="../../../assets/git.webp" id="github"></a></li>
                    <li><a href="https://www.instagram.com/jonathangonzalez4587/" target="_blank"><img src="../../../assets/insta.png" id="instagram"></a></li>
               
                    <li><a><button type="button" class="btn btn-info" (click)="login()" *ngIf="!islogged">Ingresar</button></a></li>
                     <li><a><button type="button" class="btn btn-info" (click)="onLogOut()"*ngIf="islogged">Cerrar Sesion</button></a></li>
                </ul>
            </div> 
        </div>

        </div>
