.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:  bolder;

    
}
.redes {
    margin-right: 1em;
    padding: 10px;
}

#logoAp {
    width: 150px;
    
}
img {
    width: 70px;
}

#github {
    width: 50px;
    
}

#instagram {
    width: 45px;
}

button{
    border-width: medium;
}


/*--- para la vista de celular ---*/


