.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes {
    margin-right: 0.5em;
}

#logoAp {
    width: 150px;
}
img {
    width: 50px;
}

button{
    border-width: medium;
}

/*--- para la vista de celular ---*/
