
<div class="row">
    <h1> Educacion</h1>
    <div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>Educacion 1</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo ipsum mollitia minima magnam? Sed laudantium amet esse, quam adipisci error quisquam reiciendis rem iure doloribus labore nisi, incidunt necessitatibus!
        </p>
    </ul>
    <ul>
        <li>
            <h1>Educacion 2</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo ipsum mollitia minima magnam? Sed laudantium amet esse, quam adipisci error quisquam reiciendis rem iure doloribus labore nisi, incidunt necessitatibus!
        </p>
    </ul>
    <ul>
        <li>
            <h1>Educacion 3</h1> - <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo ipsum mollitia minima magnam? Sed laudantium amet esse, quam adipisci error quisquam reiciendis rem iure doloribus labore nisi, incidunt necessitatibus!
        </p>
    </ul>
</div>

</div>